@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
.body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 20px;
  background-color: #f8fafc;
}

#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 20px;
}

.resultProductContainer::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: #e0ccbc;
}
.resultProductContainer::-webkit-scrollbar-thumb {
  background: #f25ea3;
  border-radius: 10px;
}

.resultProductContainer {
  position: absolute;
  top: 100px;
  right: 50;
  width: 30%;
  max-height: 24rem;
  overflow-y: auto;
  background-color: white;
  z-index: 999;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo bóng để làm nổi bật */
}
.truncate-limit-custom {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.truncate-limit-custom2 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
